.layout {
  display: flex;
  min-height: 100vh;
}

.main {
  min-width: auto;
  width: 100%;
  margin-left: 250px;
}
.layout .content {
  flex: 1;
  padding: 1.5rem;
  transition: margin-left 0.3s ease;
}
