<div class="upload-card">
  <div class="image-previews">
    <div class="image-preview">
      <img 
      [src]="imageUrl" 
      alt="Current image"
      [class.dimmed]="previewUrl"
       />
    </div>

    @if (previewUrl) {
      <span class="icon-container">
        <i class="fa-solid fa-arrow-right"></i>
      </span>
      <div class="image-preview">
        <img [src]="previewUrl" alt="Preview image" class="fade-in" />
      </div>
    }
  </div>

  <div class="upload-controls">
    <label class="file-input">
      <input type="file" (change)="onFileSelected($event)" />
      Choose File
    </label>

    <button
      class="btn-upload"
      type="button"
      (click)="uploadImage()"
      [disabled]="!selectedFile || uploading"
    >
      {{ uploading ? "Uploading..." : "Upload" }}
    </button>
  </div>
</div>
